*{
  margin: 0px;
  padding: 0px;
  color: white
}

html{
  margin: auto 0px;
  width: auto;
  height: 1000px;
  background: linear-gradient(360deg, #160CBF 50%, #1BFFFF 100%);
}

.App {
  text-align: center;
}
